---
layout: page
# The Home page layout
---

<div class="home-content">
    <h1>About Me</h1>
    <p>
      I am currently seeking opportunities to leverage my technical expertise while further refining my skills 
      to contribute to advancements in robotics, automation, and intelligent control systems. I recently completed 
      MSc Robotics at <a href="https://www.sheffield.ac.uk/eee" target="_blank">School of Electrical and Electronic Engineering</a>, 
      University of Sheffield. 
    </p>
</div>
