---
layout: page
# The Home page layout
---

<div class="home-content">
    <h1>About Me</h1>
    <p align="justify">
      I am currently seeking opportunities to leverage my technical expertise while further refining my skills to contribute 
      to advancements in robotics, automation, and intelligent control systems. I recently completed MSc Robotics at 
      <a href="https://www.sheffield.ac.uk/eee" target="_blank">School of Electrical and Electronic Engineering</a>, 
      University of Sheffield. As my dissertation project, I developed <a href="https://github.com/minorudja" target="_blank">An 
      Enhanced ORB-SLAM3 with Real-time Object Detection and Dynamic Object Handling</a>, supervised by 
      <a href="https://www.sheffield.ac.uk/eee/people/academic-staff/jonathan-m-aitken" target="_blank">Dr Jonathan M. Aitken</a>. 
      Prior to this, I completed MEng Mechatronic Engineering at <a href="https://www.sheffield.ac.uk/eee" target="_blank">Electrical 
      and Electronic Engineering</a>, University of Nottingham Malaysia. As my dissertation project, I developed
      <a href="https://github.com/minorudja" target="_blank">Brainwave-Controlled System for Smart Home Control</a>, supervised by
      <a href="https://www.nottingham.edu.my/Science-Engineering/People/marwan.nafea" target="_blank">Dr Marwan Nafea</a>.
    </p>
</div>
